* {
    font-family: "Comic Sans MS";
    color: #82af7c;
}
h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 5em;
}
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.content {
    position: relative;
    width: 100%;
}
#our-info {
    background-color: rgba(0,0,0,.5);

    font-size: 20px;
}

::placeholder {
    color: #82af7c;
}
#our-text {
    margin: 3em 3em;
}
#coffee-column {
    height: 100px;
}
.coffee {
    display: flex;
    text-align: center;
    margin-bottom: 1em;
}
.coffee p {
    padding: 0;
}
#roast-selection {
    background-color: #3b2d18;
    margin-bottom: 1em;
}
#coffee-selection {
    background-color: #3b2d18;
}
#submit {
    background-color: #3b2d18;
}
#add-roast {
    background-color: #3b2d18;
    width: 75px;
    margin: 1em 0;
    padding: 0;
}
#add-coffee {
    background-color: #3b2d18;
}
#beans {
    background-color: #3b2d18;
}
#concentration {
    margin-left: .5em;
}
#add-caffeine {
    width: 125px;
    margin: 1em 0;
    padding: 0;
    background-color: #3b2d18;
}
button {
    height: 30px;
    width: 70px;
    background-color: #3b2d18;
    margin-left: 1em;
}
